WebRoot/JBrowse/INSTALL
WebRoot/JBrowse/LICENSE
WebRoot/JBrowse/MYMETA.json
WebRoot/JBrowse/MYMETA.yml
WebRoot/JBrowse/Makefile
WebRoot/JBrowse/Makefile.PL
WebRoot/JBrowse/README.md
WebRoot/JBrowse/bin/
WebRoot/JBrowse/browser/
WebRoot/JBrowse/compat_121.html
WebRoot/JBrowse/css/
WebRoot/JBrowse/data/
WebRoot/JBrowse/docs/
WebRoot/JBrowse/extlib/
WebRoot/JBrowse/img/
WebRoot/JBrowse/jbrowse.conf~
WebRoot/JBrowse/jbrowse_conf.json
WebRoot/JBrowse/package.json
WebRoot/JBrowse/plugins/
WebRoot/JBrowse/release-notes.txt
WebRoot/JBrowse/sample_data/
WebRoot/JBrowse/samtools-0.1.20/
WebRoot/JBrowse/setup.log
WebRoot/JBrowse/setup.sh
WebRoot/JBrowse/src/
WebRoot/chr1_v3.25.fa
WebRoot/region.fasta
WebRoot/tags
